* {
  margin: 0;
  padding: 0;
  cursor: auto;
}


#slider-container {
  overflow: hidden;
  background-color: #333333;
  z-index: -2;  
}


#slider-container:before,
#slider-container:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;
  z-index: 100;
}

#slider-container:before {
  left: 0;
  cursor: w-resize;
  width: 50vw;
}

#slider-container:after {
  right: 0;
  cursor: e-resize;
  width: 50vw;
}

#slider {
  display: flex;
  justify-content: start;
  height: 100vh;
  transition: transform 0.5s ease;
  mix-blend-mode: multiply;

}

#images {
  mix-blend-mode: multiply;
}
