* {
  margin: 0;
  padding: 0;

}

#slider-container {
  overflow: hidden;
  background-color: #222222;
}



#slider {
  display: flex;
  justify-content: start;
  height: 100vh;
  transition: transform 0.5s ease;
  mix-blend-mode: multiply;

}

#images {
  mix-blend-mode: multiply;
}