/* VARIABLES */
* { box-sizing: border-box; }

:root {
  /* Color values */
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font values */
  --font-family: 'Neue Haas Unica','Helvetica', 'Arial', sans-serif;
  --font-size: 11pt;
  /* Margin value */
}

@font-face {
  font-family: Neue Haas Unica;
  src: url('/font/NeueHaasUnicaPro-Bold.otf')
}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;

}


.slide{
  margin-top: 10px;
}
/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  position: relative;
  display: block;
  float:left;
  width:100vw;
  overflow-x: hidden;
  height:auto;
  padding: var(--margin);

  box-sizing: border-box;

}

/* Do your work here... */

* { box-sizing: border-box; }





#images {
  scroll-snap-align: start;
  float: left;
  height:var(--viewport-height)
}

p {
  min-height: 20.0px;
  line-height: 1.2;
  font-size: 11pt;
  font-family: Neue Haas Unica;
}

p.p2{
  text-indent: 50.0px;
}


/* .vl {
  border-left: 40px solid red;
  height: 100%;
  position:fixed;
  left: 99%;
  margin-left: -2px;
  top: 0;
  filter: blur(0.8rem);
  z-index:100;
  mix-blend-mode: darken;
} */




h2{
  font-size: 11pt;
  font-family: Neue Haas Unica;
}



.titleone{
  position: absolute;
  display: block;
  z-index: 100;
  top:0;
  font-family: Neue Haas Unica;
  color: white;
  max-width: 40%;
  margin-left: 1rem;
  font-size: 11pt;
}

.captions {
  top:0;
  font-family: Neue Haas Unica;
  position: absolute;
  left: 40%;
  color: white;
  z-index: 100;
}

.title{
  /* margin-left: 1rem; */
  /* position:absolute; */
  display:block;
  z-index: 100;
  top:0;
  font-family: Neue Haas Unica;
  color: white;
  font-size: 11pt;
}

h2.title-50{
  font-weight:normal;
  font-family: Neue Haas Unica;
  color: black;
  width: 38%;
  padding-bottom: 100px;
  padding-left: 10px;
  line-height: 1.2;
}







section.text{
  width:58%;
  padding-right: 10px;
}

.text-body {
  display: flex;
  padding-left: 10px;
}

.text{
  padding-bottom: 100px;
}

.toc{
  width: 50%;
}

.toc-block{
  display: flex;

}

.type{
  font-family: Neue Haas Unica;
  width:38%;
  line-height: 1.2;
  padding: 5px;
  border-top: 1px solid #000; /* Add a bottom border */
}

.type-01{
  font-family: Neue Haas Unica;
  padding-left:8%;
  /* border-bottom: 1px solid #000; Add a bottom border */
  /* border-collapse: collapse; */
  width:38%;
  border-top: 1px solid #000; /* Add a bottom border */
}
.type-02{
  font-family: Neue Haas Unica;
  padding-left:16%;
  line-height: 1.2;
  /* border-bottom: 1px solid #000; Add a bottom border */
  /* border-collapse: collapse; */
  width:38%;
  border-top: 1px solid #000; /* Add a bottom border */
}

.type-03{
  font-family: Neue Haas Unica;
  padding-left:24%;
  line-height: 1.2;
  /* border-bottom: 1px solid #000; Add a bottom border */
  /* border-collapse: collapse; */
  width:38%;
  border-top: 1px solid #000; /* Add a bottom border */
}
.type-04{
  font-family: Neue Haas Unica;
  padding-left:32%;
  line-height: 1.2;
  /* border-bottom: 1px solid #000; Add a bottom border */
  /* border-collapse: collapse; */
  width:38%;
  border-top: 1px solid #000; /* Add a bottom border */
}
a{
  font-family: Neue Haas Unica;
  line-height: 1.2;
  color: #000;
  font-style: normal;
  text-decoration: none; ;
}
/* .type td{
  line-height: 1.2;
  padding: 5px 0px;
  border-bottom: 1px solid #000; 
  vertical-align: top;
  font-family: Neue Haas Unica;
}

 */
tr:hover{
color: silver;
}
a:hover{
  color: silver;
}

.project-list {
  width: 60%;
  border-collapse: collapse;
  padding-right: 10px;
}

.project-list .year {
  font-family: Neue Haas Unica;
}

.project-list td {
  line-height: 1.2;
  padding: 5px 0px;
  border-top: 1px solid #000; /* Add a bottom border */
  text-align: left;
  vertical-align: top;
  font-family: Neue Haas Unica;
}



/* Font Styles */
.project-list td:first-child {  
  text-align: left;
  font-size: 11pt;
  font-family: Neue Haas Unica;
  position:relative;
  width: 33%;
  padding: 5px;
  cursor: pointer;
}

.project-list td:last-child {
  text-align: left;
  font-size: 11pt;
  font-family: Neue Haas Unica;
  position:relative;
  width: 33%;
  padding: 5px;
  cursor: pointer;
}

.project-list td:nth-child(2) {
  text-align: left;
  font-size: 11pt;
  font-family: Neue Haas Unica;
  position:relative;
  width: 33%;
  padding: 5px;
  cursor: pointer;
}



/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}



/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (min-width: 780px) {
  #slider img {
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
    }
}


@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */

.type{
    font-family: Neue Haas Unica;
    width:98%;
    border-top: 1px solid #000; /* Add a bottom border */

  }
  .project-list {
    width: 98%;
    border-collapse: collapse;
    padding-right: 10px;
  }

section.text{
  width:100%;
  line-height: 1.5;
  padding-bottom: 0;
  }

  section.footnote{
  width:90%;
  padding-bottom: 100px;
  font-size: 10pt;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }

  .text-body {
  display: block;
}


.abstract{
  font-size: 10pt;
  padding-bottom: 100px;
}

.caption{
  padding-bottom: 50px;
  font-size: 10pt;
}


p.p2{
  text-indent: 50.0px;
}




h2.title-50{
  display:flex;
  color: black;
  padding-bottom: 20px;
  padding-left: 0px;
  /* margin-left: 50%; */
}

h2.title-50-nopadding{
  display:flex;
  top:0;
  font-family: Neue Haas Grotesk Text W02 Medium;
  color: white;
  width: 50%;

}

h2.title{
  display:flex;
  top:0;
  font-family: Neue Haas Grotesk Text W02 Medium;
  color: white;
  width: 50%;
  padding-bottom: 20px;
  /* margin-left: 50%; */
}

.text-title{
  padding-bottom: 100px;
}


.toc-block{
  display: flex;
  padding-bottom: 300px;
}



  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

  





}
