@charset "UTF-8";

/* VARIABLES */
* { box-sizing: border-box; }

:root {
  /* Color values */
  --color-background: rgb(255, 255, 255);
  --color-block: rgba(255,255,255,1);
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font values */
  --font-family: 'KTF2101','Helvetica', 'Arial', sans-serif;
  --font-size: 16;
  /* Margin value */
}

@font-face {
  font-family: KTF2101;
  font-weight: 400;
  src: url('../../font/KTF2101-Regular.otf');
}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  position: relative;
  display: block;
  float:left;
  width:100%;
  height:auto;
  padding: var(--margin);
  background-color: white;
  box-sizing: border-box;

}

/* Do your work here... */

* { box-sizing: border-box; }

.carousel {
  background: transparent;
  margin-top: 0;
  margin-left: 0;
  /* width: 100%;
  height: auto; */
  /* display: grid; */
}

/* .carousel-cell {
  width: 100%;
  height: 100vh;
  margin-right: 10px;
  background: white;
  counter-increment: carousel-cell;
  align-items: top;
  display: grid;
  position: relative;

} */


.carousel-cell {
  width: 100%;
  height: auto;
  background: white;

}


.carousel-cell-image {
  display: block;
  position: absolute;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}



/* #images section .responsive-image {
  position: relative;
  width: 100%;
  display: grid;
} */
.thesis{
  margin: 1rem;
  font-family: KTF2101;
}

#images {
  scroll-snap-align: start;
  float: left;
  width: 100%;
  height:var(--viewport-height)
}

p {
  margin: 0.0px 0.0px 0.0px 0.0px;
  min-height: 20.0px;
  line-height: 1.4;
  font-size: 16;
}

p.p2{
  text-indent: 100.0px;
}

p.p3{
width: 100%;
font-size: 24pt;
line-height: 1.1;
}




.footnote{
width: 90%;
/* position: -webkit-sticky; */
margin-left: 5%;

font-family: KTF2101;
}

h2{
  font-size: 12pt;
  font-style: bold;
  padding-bottom: 200px;
}

.titleone{
  margin-left: 1rem;
  position:absolute;
  display:block;
  z-index: 100;
  top:0;
  font-family: KTF2101;
  color: white;
  mix-blend-mode: difference;
}

.title{
  margin-left: 1rem;
  /* position:absolute; */
  display:block;
  z-index: 100;
  top:0;
  font-family: KTF2101;
  color: black;
 
}

.caption{
  /* position: fixed;
  z-index: 100;
  top:0;
  margin-left: 50%;
  color: white;
  width: 100%;
  font-family: KTF2101;
  mix-blend-mode: difference; */
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  margin-bottom: 10px;
}


.slides {
  flex-direction: column;
  height: auto;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type:y mandatory;
  scroll-snap-stop: always;
}

.slide{
  display: flex;
  flex-direction: row;
  flex-direction: flex-start;
  justify-content: flex-start;
  flex-wrap:wrap;
  min-height: 100vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  position: relative;
  scroll-snap-align: start;
  width:100%
}

.painting{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 65%;
  height: auto;

}

.preview{
  height: 100%;
  max-height: 100%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  overflow-y: hidden;
  padding-top: .5rem;
  vertical-align: text-top;
  width:100%
}

h2.title{
  width:100%;
  font-size: 12;
  margin-left: 0;
  
}

section.text{
  width:50%;
}

section.footnote{
  width:40%;
}



/* color scheme blocks */

.layout-block:nth-of-type(1){
  opacity:1;
}

.layout-block:nth-of-type(2){
  opacity:0.8;
}

.layout-block:nth-of-type(3){
  opacity:0.6;
}

.layout-block:nth-of-type(4){
  opacity:0.5;
}

.layout-block:nth-of-type(5){
  opacity:0.4;
}

.layout-block:nth-of-type(6){
  opacity:1;
}

.layout-block:nth-of-type(7){
  opacity:0.8;
}

.layout-block:nth-of-type(8){
  opacity:0.6;
}

.layout-block:nth-of-type(9){
  opacity:0.5;
}

.layout-block:nth-of-type(10){
  opacity:0.4;
}

.layout-block:nth-of-type(11){
  opacity:1;
}

.layout-block:nth-of-type(12){
  opacity:0.8;
}



/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}



/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */



  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

}




